body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}


:root {
--charcoal: #264653;
--pgreen: #2a9d8f;
--yellow: #e9c46a;;
--orange: #f4a261;
--sienna: #e76f51;
background: black;


}

a {
  text-decoration: none;
  color: #ffffff;
}


.container {
  background-color: white;
  border-radius: 50%;
  min-height: 500px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 4em;
}

.containerbackground {
  margin: 4rem;
  position: absolute;
  font-size: 22rem;
  top: -5%;
  left: 16%;
  bottom: 15%;
  z-index: -1;
  color: #000;
}


h1, h3 {
  font-family: 'Righteous', cursive;
  color: var(--charcoal);
  text-decoration: underline;
  text-decoration-color:var(--sienna);
  font-size: 50px;
  text-align: center;
}


.btn {
  background:var(--charcoal);
  color: #ffffff;
  width: 100%;
  margin-top: 10px;
}

.btn:hover {
color:#fff;
background: var(--orange);
}

.viewer {
font-size: 20px;
font-weight: 100;
}

.error {
color: var(--sienna);
font-weight: 800;
margin-top: 20px;
}



.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: 0.5s;
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  transition: 0.5s;
  opacity: 0;
}

.triangleViewer {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: calc(2 * 20px * 0.866) solid blue;
  border-top: 20px solid transparent;
  display: inline-block;
}

.insideTriangle {
}